<ons-page ng-controller="ShowpublicController">
      <ons-toolbar>
       
        <div class="center">แก้ไขประกาศ</div>
        <div class="right"><button style="color:white ;float: right;background:green" class="button" 
          ng-click="editsavepublic()">Save</button></div>
      </ons-toolbar>
      <ul class="list">
        <li class="list__item">
          <textarea ng-model="publishsubscribe" class="textarea textarea--transparent" style="width:100%;height:350px;margin-top:4px;" placeholder="text message"></textarea>
        </li>
        
      </ul>
     
    </ons-page>

